
<div class="pageContainer">
    <div class="tutorialContainer partContainer greyLight">
        <%- partial('partials/tutorial') %>	
    </div>
    
    <div class="editorContainer partContainer greyDark">
	    <%- partial('partials/editor') %>
	</div>
	
	<div class="outputContainer partContainer greyLight">
	    <%- partial('partials/output') %>
	</div>
</div>
<div class="pageContainerBottom"></div>