<style>
.partContainer{
    position:relative;
    width: 33%;
    height: 100%;
}
.pageContainer{
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
}
</style>
<div style="pageContainer">
    <div class="tutorialContainer partContainer greyLight">
        <%- partial('partials/tutorial') %>	
    </div>
    
    <div class="editorContainer partContainer greyDark">
	    <%- partial('partials/editor') %>
	</div>
	
	<div class="outputContainer partContainer greyLight">
	    <%- partial('partials/output') %>
	</div>
</div>