<script>
	$(function() {
		$("#headerMenu").menu();
	});
</script>
<style>
	.ui-menu { width: 150px; }
</style>
<div class="pageHeader">
	<a href="/" ><span class="pageTitle">WebCL Academy</span></a>
	<div style="float: right;">
		<ul id="headerMenu">
			<li><span>Menu</span><ul>
				<li><a href="/">Home</a></li>
				<li>
					<a href="#">Tutorials</a>
					<ul>
						<li><a href="/tutorial#1">Vector Operations</a></li>
						<li><a href="/tutorial#2">Image Manipulation</a></li>
						<li><a href="/tutorial#3">Particles</a></li>
					</ul>
				</li>
				<li class="ui-state-disabled"><a href="#">Account</a></li>
			</li>
		</ul>
</div>