<div id="codeEditor">
void clmain(void)
{
	vec3 P;
	
	P.x = 1;
	P.y = 2;
	P.z = -3;
}
</div>

<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
	var editor = ace.edit("codeEditor");
	editor.setTheme("ace/theme/twilight");
	editor.getSession().setMode("ace/mode/c_cpp");
</script>

