<div class="pageMiddleContainer">

<h2>Welcome to the WebCL Academy website.</h2>
<p>Today's computational needs on the web have expanded beyond anything imagined
even a decade ago. Developers have uses for massively parallel data calculations, but
no simple and fast way to execute their code. On the desktop side this computational
need has been met with the introduction of standards such as OpenCL, DirectCompute,
CUDA, among others. With this emerging need for more and more computational power
on today's websites a new standard was created to allow access to this power. This
emerging standard is called WebCL and allows near direct access to the OpenCL API
from within Javascript in the browser.</p>

<p>Our goal is to help you learn how to access this computing power within your own
sites. Whether you already know OpenCL and just want to learn how to integrate it into
your site, or you are completely new to doing heavy computation work on the web
head on over to the <a href="/tutorial">tutorials section</a> to start learning now.</p>

<p>If you would like to know more check out the following sites:</p>
<ul>
	<li>WebCL working draft</li>
	<li>OpenCL</li>
</ul>

</div>