/****
 * WebCL Tutorial website CSS
 ***/

#headerMenu ul.ui-menu {
    z-index: 1;
}

div.tutorialContainer{
    height:100%;
    position: relative;
}
.tutorialContainer div.nextButton{
    position: absolute;
    bottom: 0px;
    right: 5px;
}
.tutorialContainer code.lessonCode{
    background-color: #444444;
}
.pageMiddleContainer {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px; /* For the time being */
    min-width: 320px;
}
#tabs{
    min-height: inherit;
}

a{
    color: #999999;
    text-decoration: none;
    border-bottom: dotted 1px;
}
#tabs>ul a{
    border-bottom: none;
}

/****
 * Base Page (HTML/Body/etc) elements
 ***/
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    color: #CCCCCC;
}
.pageBody{
    position: relative;
    width: 100%;
    height: 100%;
}
.pageContainer{
    position: relative;
    width: 100%;
    min-height: 450px;
    left: 0px;
    top: 0px;
    border-bottom: 20px solid #232323;
}
.pageContainerBottom{
    position: relative;
    width: 100%;
    height:20px;
    margin:0px;
    padding:0px;
    background: linear-gradient(to bottom, #222222, #333333);
}
.pageHeader{
    background-color: #232323;
    display: block;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #333333;
}
.pageTitle {
    color: #FFFFFF;
    font-family: menu;
    font-size: 3em;
    padding-left: 5%;
}
.pageHeader a{
    border-bottom: 0px;
}
 
/****
 * Colors
 ***/
.greyLight{
    background-color: #232323;
}
.greyDark{
    background-color: #222222;
}

/****
 * 3-Pane containers
 ***/
.partContainer{
    position:absolute;
    height: 100%;
    display: inline-block;
    min-height: inherit;
}
.editorContainer{
    width: 40%;
    left: 30%;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}
.outputContainer{
    right: 0px;
    float: right;
}
.outputContainer, .tutorialContainer{
    width: 30%;
}