<style type="text/css" media="screen">
body {
	overflow: hidden;
}

.codeEditor { 
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 399px;
	min-width: 100px;
}
/* Hijack ui-tabs */
#tabs div.ui-tabs, #tabs div.ui-tabs-panel {
	padding: 0em 0em;
	padding-top: 3px;
}
</style>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Javascript</a></li>
        <li><a href="#tabs-2">Kernel</a></li>
    </ul>
<div id="tabs-1">
<div id="editor-1" class="codeEditor">
if (window.webcl === undefined) {
alert("Unfortunately your system does not support WebCL. " +
	"Make sure that you have both the OpenCL driver " +
	"and the WebCL browser extension installed.");
return false;
}
</div>
</div>
<div id="tabs-2">
<div id="editor-2" class="codeEditor">
void clmain(void)
{
	vec3 P;
	
	P.x = 1;
	P.y = 2;
	P.z = -3;
}
</div>
</div>
</div>

<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    // Initialze an ACE editor in each tab.
    var JSEditor = ace.edit("editor-1");
	JSEditor.setTheme("ace/theme/twilight");
	JSEditor.getSession().setMode("ace/mode/javascript");
	var openCLEditor = ace.edit("editor-2");
	openCLEditor.setTheme("ace/theme/twilight");
	openCLEditor.getSession().setMode("ace/mode/c_cpp");
	
	// Setup the tab UI
    $(function() {
		$( "#tabs" ).tabs({
			activate: function( event, ui ) {
				var $pane = ui.newPanel;
				var el = $pane.find(".codeEditor").get()[0];
				var ace_el = ace.edit(el);
				
				ace_el.focus();
				ace_el.resize();
			},
		});
	});
	
	document.editorInfo={
		editors:[JSEditor, openCLEditor], 
		initialContent:[
			JSEditor.getSession().getValue(), 
			openCLEditor.getSession().getValue()
		]};
</script>