
<style type="text/css" media="screen">
.tutorialOutput { 
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}


</style>


<script id="clKernel" type="text/x-opencl">
</script> 


<script type="text/javascript">
function setup_button() {
	$("#runButton").button().click(function(event){
		event.preventDefault();
		$("#clKernel").text(document.editorInfo.editors[1].getValue());
		$("#output").html(document.editorInfo.editors[2].getValue());
		eval(document.editorInfo.editors[0].getValue());
        
	})
};


$( document ).ready( setup_button);
</script>

<div id="output">The program output will go here.</div>

<button id="runButton">Run</button>