
<script id="clKernel" type="text/x-opencl">
</script> 


<script type="text/javascript">
function setup_button() {
	$("#runButton").button().click(function(event){
		event.preventDefault();
		$("#clKernel").text(ace.edit("editor-2").getSession().getValue());
		eval(ace.edit("editor-1").getSession().getValue());
        
	})
};


$( document ).ready( setup_button);
</script>

<p id="output">The program output will go here.</p>

<button id="runButton">Run</button>